@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family:'Poppins', sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #F7FBFF;
}

h1 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 2.8rem;
}

h2 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
}

.container {
  padding: 1% 0 2% 10%;
  position: relative;
  min-height: 100%;
  margin: 0;
  min-width: 91%;
}

/* Navigation section */
.nav-menu {
  font-family: 'poppins-SemiBold', sans-serif;
  font-size: 1rem;
  padding: 0 10%;
}


.nav-menu li {
  text-transform: uppercase;
  color: #0081FF;
}

.contact li::after {
  content: " |";  /* this is your text. You can also use UTF-8 character codes as I do here */
  margin-left: .7rem;
}


/* Banner */

.banner-bg {
  display: block;
  background: #0081FF;
  width: 100%;
  height: auto;
}

.banner-bg iframe {
  width: 50em;
  height:608px;
}

.banner-content-right {
  padding: 15px 0 0 10px;
  float: right;
}


.banner-content-left {
  color:#fff;
  padding: 10%;
  width: 60%
}

.banner-content-left .title{
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 18px;
}

/* Banner Tab section */

.tab-wrapper {
  width: 100%;
  position: absolute;
}

.tab-wrapper ul {
  display: flex;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.tab-wrapper ul li{
  padding: 50px;
  text-transform: uppercase;
}

.tab-wrapper ul li.watch {
  background: #0F55D6;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 1.5rem;
  color:#fff;
  width:33.35%;
  height: 174px;
}

.tab-wrapper ul li.listen {
  background: #0D61E2;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 1.5rem;
  color:#fff;
  width:33.35%;
  height: 174px;
  
}

.tab-wrapper ul li.read{
  background: #086BEA;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 1.5rem;
  color:#fff;
  width:33.35%;
  height: 174px;
}


.tab-wrapper ul li:hover {
  background:#14BEFF;
  cursor: pointer;
}


.tab-wrapper ul li img {
  width: 76px;
  height: 76px;
  margin-right: 1.5rem;
}

/* Dashboard section */

hr {
 border: 3px solid #0081FF;
 margin: -30px 0 0 0;
 width: 80px;
}


.video-box iframe {
  padding: 30px 0 0 0;
  margin-right: 30px;
}

.video-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0;
  padding: 0;
}

.video-card {
  display: flex;
  width: 320px;
  height: 250px;
  margin: 1rem;
}

.video-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.play-icon {
  cursor: pointer;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.filter-buttons li {
  background: #fff;
  border-radius: 10px;
  width: 156px;
  height: 53px; 
  margin: 12px 5px 5px 0;
  padding:14px;
}

.filter-buttons li:hover { 
background: #0081FF;
cursor: pointer;
}

.filter-buttons li a {
  color: #B2B2B2;
  text-decoration: none;
}

.filter-buttons li a:hover { 
  color: #fff;
}

/* Footer Section */

.footer {
  position:relative;
  bottom:-200px;
  width:100%;
  height:100px;
  background-color:#0081FF;
  color: white;
  text-align: center;
}

.footer p{ 
  line-height: 100px;
  margin-bottom: 0;
}


/* AUDIO COMPONENT */
.audio-list-container {
  display: flex;
  margin-top: 30px;
}
.player-wrapper {
  background: #FFF;
  -webkit-box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.2);
  margin: 0 auto;
  max-width: 550px;
  border-radius: 10px;
}
.audio-img {
  background: url(./components/pages/listen/col_cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  height: 200px;
  width: 140px;
  margin: -20px 20px 0 20px;
}
.player {
  color: #fff;
  height: 400px;
  background: #0E55D6;
  padding: 50px 20px 80px 20px;
  border-radius: 10px 
}
.time-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
}
.player .audio-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-align: center;
}
.slider-wrapper {
  display: flex;
  justify-content: center;
}
.controllers * {
  display: flex;
  justify-content: center;
}

input {
  background-color: #0E55D6 ;
}
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px auto;
  width: 250px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #EEEEEE;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background:	#f43b7e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EEEEEE;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #EEEEEE;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background:#f43b7e;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #EEEEEE;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
  input[type=range]::-ms-fill-upper {
  background: #EEEEEE;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 10px;
  background:#f43b7e;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #EEEEEE;
}
input[type=range]:focus::-ms-fill-upper {
  background: #EEEEEE;
}
.playlist {
  margin-top: -150px;
  background: #FFF;
  max-width: 550px;
  border-radius: 70px 0px 10px 10px;
  padding: 50px 20px 20px;
}
.track {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 0;
}
.track .audio-title, 
.track .audio-length {
  padding: 0 20px;
  color: #666;
  font-size: 1.2rem;
}
.track .audio-title {
  flex: 2;
}
.track .audio-length{
  flex:1;
}
@media screen and (max-width: 600px) {
  .track .audio-length {
      display: none;
  }
}
.track img {
  margin-top: 15px;
}
i {
  color: #0D61E2;
  font-size: 1.5rem;
  padding: 0 10px;
}
.play-pause {
  flex: 0.2;
}
@media screen and (max-width: 520px) {
  .audio-img {
      margin: 0 20px 0 0;
      height: 150px;
      width: 100px;
  }
  input[type=range] {
      width: 175px;
  }
  .player {
      padding: 20px 20px 120px 20px;
  }
  .playlist {
      padding: 40px 20px 20px;
  }
}

/* added by manol for audio seek bar */
.seek-bar {
  width: 250px;
  height: 8px;
  background: white;
  display: flex;
  border-radius: 50px;
  margin: 25px 25px;
  cursor: pointer;
}

#fill {
  height: 8px;
  background: #0D61E2;
  border-radius: 20px;
}

#handle {
  width: 8px;
  height: 8px;
  background: #f43b7e;
  border-radius: 50%;
  margin-left: -5px;
  transform: scale(2);
}